.grid {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 4fr 1fr;
	min-width: 10px;
	min-height: 10px;
	opacity: 0.5;
	background-color: rgb(128, 255, 128);
}

.cell {
	border: 1px solid green;
}

	.cell.top-left {
		cursor: nwse-resize;
		grid-row: 1;
		grid-column: 1;
	}

	.cell.top {
		cursor: ns-resize;
		grid-row: 1;
		grid-column: 2;
	}

	.cell.top-right {
		cursor: nesw-resize;
		grid-row: 1;
		grid-column: 3;
	}

	.cell.left {
		cursor: ew-resize;
		grid-row: 2;
		grid-column: 1;
	}

	.cell.center {
		cursor: pointer;
		grid-row: 2;
		grid-column: 2;
	}

	.cell.right {
		cursor: ew-resize;
		grid-row: 2;
		grid-column: 3;
	}

	.cell.bottom-left {
		cursor: nesw-resize;
		grid-row: 3;
		grid-column: 1;
	}

	.cell.bottom {
		cursor: ns-resize;
		grid-row: 3;
		grid-column: 2;
	}

	.cell.bottom-right {
		cursor: nwse-resize;
		grid-row: 3;
		grid-column: 3;
	}
