.highlight-box {
	position: absolute;
	display: grid;
	background-color: hsl(120, 100%, 50%, 0.5);
}

.highlight-box > .cell {
	opacity: 0.5;
	background-color: white;
}

.highlight-box > .grab-handle {
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.highlight-box > .grab-handle:hover {
	opacity: 0.75;
}

/* Center cell */
.highlight-box > .center {
	cursor: move;
	grid-row: 2;
	grid-column: 2;
}

/* Positions + cursors */
.highlight-box > .grab-handle.top-left {
	grid-row: 1;
	grid-column: 1;
	cursor: nwse-resize;
}

.highlight-box > .grab-handle.top {
	grid-row: 1;
	grid-column: 2;
	cursor: ns-resize;
}

.highlight-box > .grab-handle.top-right {
	grid-row: 1;
	grid-column: 3;
	cursor: nesw-resize;
}

.highlight-box > .grab-handle.left {
	grid-row: 2;
	grid-column: 1;
	cursor: ew-resize;
}

.highlight-box > .grab-handle.right {
	grid-row: 2;
	grid-column: 3;
	cursor: ew-resize;
}

.highlight-box > .grab-handle.bottom-left {
	grid-row: 3;
	grid-column: 1;
	cursor: nesw-resize;
}

.highlight-box > .grab-handle.bottom {
	grid-row: 3;
	grid-column: 2;
	cursor: ns-resize;
}

.highlight-box > .grab-handle.bottom-right {
	grid-row: 3;
	grid-column: 3;
	cursor: nwse-resize;
}
